/*usersphp*/


table {
    border-collapse: collapse;
    display: flex;
    justify-content: center;

}

th,
td {
    border: 2px solid black;
    height: 80px;
    width: 200px;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
}

p {
    text-align: center;
}

.entete {
    color: wheat;
    font-family: fantasy;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-family: monospace;
    margin: 15px;
}



